<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EarthJust Ecosystems</title>
    <link rel="shortcut icon" href="/images/favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/main-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    {{!-- here navbar comes --}}
    {{>navbar}}

    {{!-- here comes parallex image and text --}}
    <div class="parallex">
        <div class="text">
            Welcome To
        </div>
        <div class="main-head-text">EARTHJUST ECOSYSTEMS</div>
        <div class="sub-head-text">
            Easy step for a sustanable life!
        </div>
    </div>

    {{!-- a bit abiut us --}}
    <div class="aboutus">
        <div class="left-text-aboutus">
            <h1>About Us</h1>
            <sp class="all-text">We, here at EarthJust Ecosystems, we see the value in everyone. We want to be a
                catalyst for positive change, and since our
                beginnings in 2000, we’ve been
                driven by the same ideas we initially founded our Climate Change Non-Profit Organization upon support,
                empowerment, and progress. Learn more about our mission, our vision, and how we go about making the
                changes we want to see.
                </p>
        </div>
        <div class="right-image-aboutus">
            <img src="/images/aboutimg_mainpage.jpg" alt="" srcset="">
        </div>

    </div>
    <a class="btn1" href="/about">About Us</a>


    {{!-- upcoming events section here --}}
    {{>upcomingevents}}


    {{!-- what we do section --}}
    <div class="whatwedo">
        <h1>What We Do</h1>
        <p class="description">Redefining sustainable living is the most important goal of our organization. We seek to
            support, empower, and provide high quality resources to our community in a safe and secure environment. Our
            success isn’t measured in terms of wealth or profit margin, but by the value we provide to those we serve.
        </p>
    </div>



    <div class="carousel-wrapper">
        <div class="carousel-container">
            <div class="carousel">
                <div class="image-one">
                    <img src="/images/carousel1_image1.jpg" alt="" srcset="">
                    <div class="whatwedo-text1">
                        <h1>Curiosity & Awareness</h1>
                        <p class="description">People like you are curious and want to do their bit for the Earth. But
                            often starting point is elusive, or the path is unclear. We spread awareness, conduct talks,
                            sessions and webinars to trigger curiosity & awareness for sustainable living.
                            Contact us to learn more about our commitment to this cause.</p>
                    </div>
                </div>
                <div class="image-two">
                    <img src="/images/carousel1_image2.jpg" alt="ded" srcset="">
                    <div class="whatwedo-text2">
                        <h1>SUPPORT</h1>
                        <p class="description">At EarthJust Ecosystems, we are dedicated to stepping up our efforts in
                            addressing this issue. Support is by no means an easy feat, but through cooperation and
                            community empowerment we believe we can facilitate progress in this area.
                            We conduct simple workshops & series to help you take your first & subsequent steps towards
                            a sustainable life.
                            We are always striving to make a difference, and invite you to learn more and lend your
                            support.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{!-- facts and figures --}}
    <div class="facts-figures">

        <div class="fact1">
            <i class="far fa-calendar-alt"></i>
            <h1>50+</h1>
            <div style="font-weight: 600;font-size:larger;margin-top:-50px;">Events</div>
            <div>Orgranised</div>
        </div>

        <div class="fact2">
            <i class="fas fa-signal"></i>
            <h1>65%</h1>
            <div class="details" >This is your
                infographics description paragraph. Use it to give additional details about the statistics
                or figures you’re presenting. Be clear and concise to help users understand the story behind the
                numbers.</div>
        </div>

        <div class="fact3">
            <i class="fas fa-dollar-sign"></i>
            <h1>44%</h1>
            <div class="details">Lorem ipsum dolor sit
                amet consectetur, adipisicing elit. Accusantium earum dignissimos, harum in explicabo ad voluptates
                maiores fugit reprehenderit debitis itaque obcaecati natus?
            </div>
        </div>

    </div>

    {{!-- testimonial are here --}}
    <div class="testimonials">
        <h1>Testimonials</h1>

        <div class="slider">
            <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav" />
            <input type="radio" name="slider" title="slide2" class="slider__nav" />
            <input type="radio" name="slider" title="slide3" class="slider__nav" />
            <input type="radio" name="slider" title="slide4" class="slider__nav" />
            <div class="slider__inner">
                <div class="slider__contents">
                    <h2 class="slider__caption">Yash Sharma</h2>
                    <p class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis
                        possimus illo quos, corporis minima!</p>
                </div>
                <div class="slider__contents">
                    <h2 class="slider__caption">Yash Garg</h2>
                    <p class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis
                        possimus illo quos, corporis minima!</p>
                </div>
                <div class="slider__contents">
                    <h2 class="slider__caption">Nalin Shukla</h2>
                    <p class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis
                        possimus illo quos, corporis minima!</p>
                </div>
                <div class="slider__contents">
                    <h2 class="slider__caption">Sanyam Kothari</h2>
                    <p class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis
                        possimus illo quos, corporis minima!</p>
                </div>
            </div>
        </div>
    </div>


    {{!-- QUOTE SECTION --}}
    <div class="mainbody">
<div class="quote">
    <h1 class="writer-name">
        Vincent van Gogh
    </h1><span class="full-quote">"Great things are done by a series of small things brought together"</span>
</div>
        <div class="video-container">
            <div class="color-overlay"></div>
            <video autoplay loop muted>
                <source src="/images/video.mp4" type="video/mp4">
            </video>
        </div>
       
    </div>

    {{!-- footer is here  --}}
    {{>footer}}

</body>

</html>