<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programs</title>
    <link rel="stylesheet" href="/css/program.css">
    <link rel="shortcut icon" href="/images/favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>


    {{>navbar}}


    {{>upcomingevents}}


    {{!-- ongoing events section --}}
    <div class="ongoing-event">
        <div class="left">
            <h1>
                Education & Outreach
            </h1>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo repellendus id,
                corrupti
                dignissimos accusantium maiores voluptatem cumque, dicta assumenda amet debitis.</p>
            <a href="/events" class="btn1">Read More</a>
        </div>
        <div class="right">
            <img src="/images/ongoing_event.webp" alt="" srcset="">
        </div>
    </div>


    {{!-- past events --}}
    <div class="past-events-head">
        PAST EVENTS
    </div>
    <div class="past-events">
        <div class="past-event-left">
            <img src="/images/past_events.webp" alt="" srcset="">
        </div>
        <div class="past-event-right">
            <div class="event1 event">
                <div class="top-head">
                    <i class="far staricon fa-star"></i>
                    <h1>Education & Outreach</h1>
                </div>
                <h3>Earthian - National Level School Competition for Sustainability</h3>
                <p class="details">
                    To critically engage students, teachers and other stakeholders with sustainability issues through
                    multiple perspectives and drive sustainability thinking and action.
                    The competition aims at building knowledge, skills & mindset for self-reliance for a sustainable
                    future.
                </p>
                <a href="/events" class="btn1">See Full Deatils</a>
            </div>

            <div class="event2 event">
                <div class="top-head">
                    <i class="far staricon fa-star"></i>
                    <h1>Education & Outreach</h1>
                </div>
                <h3>Simplifying Sustainability for Educators</h3>
                <p class="details">
                    First & foremost, sincere gratitude for being an educator, and choosing to contribute positively to
                    countless lives. For us, Educators are the nation builders & definitely the biggest change-makers &
                    change agents </p>
                <a href="/events" class="btn1">See Full Deatils</a>
            </div>

            <div class="event3 event">
                <div class="top-head">
                    <i class="far staricon fa-star"></i>
                    <h1>Be a Citizen Scientist</h1>
                </div>
                <h3>Monsoon Time - Mushroom Time!</h3>
                <p class="details">
                    Monsoon has announced its presence & if you are passionate about mushrooms around you, now is the
                    time to get out there & find stuff!
                    Did you know that July & August are the best monsoon months to find wild mushrooms?
                </p>
                <a href="/events" class="btn1">See Full Deatils</a>
            </div>

            <div class="event4 event">
                <div class="top-head">
                    <i class="far staricon fa-star"></i>
                    <h1>Another Program</h1>
                </div>
                <h3>Grow Your Crops</h3>
                <p class="details">
                    Did you always want to grow your own food and didn't know where to start? Why not start with
                    protein- packed mushrooms?
                    This is a hands-on series of 8 sessions (11 hours) to help you grow your own oyster mushrooms
                    without using anything fancy. Follow along & towards the end of this series, you will be able to
                    successfully harvest your first crop. </p>
                <a href="/events" class="btn1">See Full Deatils</a>
            </div>


            <div class="event5 event">
                <div class="top-head">
                    <i class="far staricon fa-star"></i>
                    <h1>Program2</h1>
                </div>
                <h3>Making a Difference</h3>
                <p class="details">
                    Through our Support Services, we have the potential to make a real and positive change in the
                    community. We want to make sustainable living easy, accessible, fun for everyone. And we run support
                    programs for chemical free living, zero waste houses/orgs/institutions.
                    This is one of our key areas of focus here at EarthJust Ecosystems, and a source of much success for
                    our Climate Change Non-Profit Organization. Get in touch with us today and see how you can lend a
                    helping hand with this program.</p>
                <a href="/events" class="btn1">See Full Deatils</a>
            </div>


        </div>
    </div>



    {{>footer}}
</body>

</html>