<style>
footer{
    text-align: center;
    background-color: white ;
    height: 14rem;
    margin-top: auto;
    margin-bottom: -1pc;
}
footer h2{
  opacity: 0.4;
  margin-top: 15px;
}
footer .copy{
  
  font-size: 25px;
margin-left: -210px;

}
footer .claim{
display: block;
  margin-top: -31px;
}
.mail,.address{
    margin-top: 10px;
    color: currentColor;
}
.copyrightclaim{
    opacity: 0.4;
}
.icons{
    display: flex;
    margin-left: 41rem;
}
.fbicon,.instagram,.location,.linkedin{
    color: black;
    font-size: 26px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
</style>
<footer>
<h2>EARTHJUST ECOSYSTEMS</h2>
    
<div class="mail">
    ajustearth@gamil.com
</div>
<div class="address">
    #7, Lower Basement, Housing Board Colony, Phase 2, Near LIC building, Rabon, 
    Saproon, Solan
</div>
<div class="icons">
<a href=""><i class=" fbicon fab fa-facebook"></i></a>
<a href=""><i class="fas location fa-map-marker-alt"></i></a>
<a href=""><i class="fab instagram fa-instagram"></i></a>
<a href=""><i class="fab linkedin fa-linkedin-in"></i></a>
</div>
<div class="copyrightclaim">
    <span class="copy">©</span>
    <span class="claim">2021 by EarthJust Ecosystems.</span>
</div>
</footer>
