<style>
    .upcoming-events {
        text-align: center;
        margin-top: 9rem;
        align-items: center;
        justify-content: center;
    }

    .upcoming-events h1 {
        font-size: 3rem;
        font-weight: 100;
    }

    .card-upcoming-events {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
        height: 680px;
        border: 0.7px solid grey;
    }

    .card-upcoming-events img {
        height: 450px;
        width: 450px;

    }

    .head-card h1 {
        margin-top: -2px;
    }

    .eventdetails {
        margin-top: -1rem;
        opacity: 0.4;
    }

    .type {
        margin-left: -1px;
    }

    .btn2 {
        padding: 10px 20px;
        position: absolute;
        font-size: 1rem;
        margin-left: -58px;
        margin-top: 1rem;
        text-decoration: none;
        color: white;
        background-color: rgb(243, 120, 33);
    }

   
</style>
{{!-- iska hover js se bnega baad ke --}}

<div class="upcoming-events">
    <h1>Upcoming Events</h1>
    <div class="card-upcoming-events">
        <img src="/images/umcoming_event.jpg" alt="" srcset="">
        <div class="head-card">
            <h1>Event Name</h1>
            <div class="eventdetails">
                <div class="date">24 SEPT 2021</div>
                <div class="type">WEBINAR</div>
            </div>
        </div>
        <a href="#" class="btn2">Learn More</a>
    </div>
</div>